<div class="m-2 p-2">
	<h1 class="text-xl tracking-widest font-bold text-center">Compost</h1>
	<div class="grid lg:flex justify-center">
		<img class="m-2" src="../../../assets/images/compost-bag-prep-seal.jpeg" height="175px" width="175px" alt="">
		<img class="m-2" src="../../../assets/images/compost-pile-april-2017.jpeg" height="175px" width="175px" alt="">
		<img class="m-2" src="../../../assets/images/bagged-compost-pallet.jpeg" height="175px" width="175px" alt="">
	</div>
	<div class="m-8 p-8 rounded-lg bg-gray-50 shadow-xl shadow-gray-900">
		<img class="float-left m-2" src="../../../assets/images/compost-flyer-hands-holding-compost.jpg" height="175px" width="175px" alt="">
		<p class="tracking-wide text-black">
			Royal Crest Farm Compost is made from goat manure, cow manure, hay, sawdust, and wood chips from our farm in Spencer, MA.  Our product is environmentally friendly, free of harmful chemicals or residues and will help provide beautiful flower gardens, abundant vegetables and healthy lawns.  The composting process begins when we combine hay and shavings with cow and goat manure in long windrows and ‘cook’ it for at least three months at a temperature of 130° – 150.  This process filters out most weed seeds which can't survive this process.  When complete, the compost is screened at 1/2’ particles.  We recommend using the Royal Crest Farm compost to amend all types of soil.  Plantings will establish better root systems, be more tolerant to drought and get the nutrients they need for healthy growth and disease resistance.
		</p>
	</div>
	<div class="m-8 p-8 border border-black bg-gray-50 rounded-lg shadow-xl shadow-gray-900 text-black">
		<h1 class="text-center">Our Offerings</h1>
		<div class="grid grid-cols-1 lg:grid-cols-2 m-4 gap-4">
			<div class="border border-black bg-gray-50 rounded-md shadow-md shadow-slate-900 p-2">
				<h1 class="text-center rounded-lg">Bulk or Bagged Compost</h1>
				<p class="text-sm text-left p-4">
					Made from a blend of BAG compost, goat manure, cow manure, hay and pine shavings.
					<img class="float-left m-2" src="../../../assets/images/bag-compost.png" height="160px" width="160px" alt="">
				</p>
				<div class="text-center pb-2">
					<a class="bg-blue-500 border border-black shadow-lg shadow-black hover:text-green-400 rounded-xl text-white p-2" routerLink="landscaping">Learn More</a>
				</div>
			</div>
			<div class="border border-black bg-gray-50 rounded-md shadow-md shadow-slate-900 p-2">
				<h1 class="text-center rounded-lg">Composted Loam Mix</h1>
				<p class="text-sm text-left p-4">
					A blend of loam compost and 10% sand that works excellent for new lawns, starting flower beds or filling low areas in lawns.
					<img class="float-left m-2 rounded-lg" src="../../../assets/images/handful-compost.jpeg" height="160px" width="160px" alt="">
				</p>
				<div class="text-center pb-2">
					<a class="bg-blue-500 border border-black shadow-lg shadow-black hover:text-green-400 rounded-xl text-white p-2" routerLink="landscaping">Learn More</a>
				</div>
			</div>
		</div>
		<p class="m-6">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, cum consectetur quas optio quos ab doloremque voluptatem ipsam deserunt repellendus a sapiente laudantium possimus ipsa perspiciatis fugiat earum sequi laboriosam.
		</p>
	</div>
</div>
