<div class="grid grid-col-2 lg:flex lg:flex-row p-2 bg-sky-700 text-center">
	<!-- Logo -->
	<div class="mx-auto grid">
		<a href="">
			<img src="../../../assets/images/cropped-rcf-icon.png" alt="">
		</a>
	</div>
	<!-- Banner -->
	<div class="lg:flex lg:flex-grow lg:flex-col text-white tracking-widest">
		<h1 class="font-semibold text-lg">
			Royal Crest Farm
		</h1>
		<h2 class="text-sm">30 Howe Road, Spencer, MA 01562</h2>
		<h3 class="text-sm">
			<a href="tel:+508-885-2064">(508) 885-2064</a>
		</h3>
	</div>
</div>
