<div class="m-4">
	<div class="text-center">
	</div>
	<div class="grid grid-cols-1 lg:grid-cols-2 p-2 rounded-lg opacity-75 bg-black">
		<div class="place-self-center text-center m-12">
			<h1 class="text-white font-semibold transform uppercase text-2xl">
				Membership has its privileges
			</h1>
			<p class="mt-4 text-lg text-gray-300">
				Community Supported Agriculture (or CSA) is a popular way for consumers to buy local, seasonal food directly from a farmer.
			</p>
		</div>
		<div class="p-4">
			<img class="rounded-3xl" src="../../../assets/images/raphael-rychetsky-li9JfUHQfOY-unsplash.jpg" alt="">
		</div>
	</div>
</div>
<div class="px-4 lg:pt-6 lg:pb-12">
	<div class="flex flex-wrap text-center justify-center">
		<div class="w-full lg:w-6/12 px-4">
			<h2 class="text-4xl font-semibold text-white">How Does It Work?</h2>
			<p class="text-lg leading-relaxed mt-4 mb-4 text-gray-200">
				Our CSA’s run for 6 months. CSA pickup dates are the first Saturday of each month in our FarmStore. We even send you a reminder each month so you'll never miss out!
			</p>
		</div>
	</div>
	<div class="flex flex-wrap mt-12 justify-center">
		<div class="w-full lg:w-3/12 px-4 text-center">
			<div
				class="text-gray-100 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
				<i class="fas fa-medal text-xl"></i>
			</div>
			<h6 class="text-xl mt-5 font-semibold text-white">
				Farm Fresh Beef
			</h6>
			<p class="mt-2 mb-4 text-gray-200">
				From steaks, roasts, sausage, chops, sausage, bacon, whole chickens, we got you covered! Our monthly meat CSAs are a perfect way to enjoy a variety of beef and pork directly from our farm!  Each box is different, and no one cut is guaranteed. Each individual piece of meat is flash frozen, and most are vacuum sealed for freshness and convenience.
			</p>
		</div>
		<div class="w-full lg:w-3/12 px-4 text-center">
			<div
				class="text-gray-100 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
				<i class="fas fa-poll text-xl"></i>
			</div>
			<h5 class="text-xl mt-5 font-semibold text-white">
				Member Discounts
			</h5>
			<p class="mt-2 mb-4 text-gray-200">
				You're also eligible to recieve an additional 10% off beef, pork & chicken items purchased on the day you pick up your monthly bundle.
			</p>
		</div>
		<div class="w-full lg:w-3/12 px-4 text-center">
			<div
				class="text-gray-100 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
				<i class="fas fa-lightbulb text-xl"></i>
			</div>
			<h5 class="text-xl mt-5 font-semibold text-white">Join In Minutes</h5>
			<p class="mt-2 mb-4 text-gray-200">
				To join, please fill out the information below and select which size CSA you wish to purchase.
			</p>
		</div>
	</div>
</div>
