<div class="p-2 bg-gray-100">
	<h1 class="text-center font-extrabold tracking-widest">
		Family Owned And Operated Since 1982
	</h1>
	<div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, quo earum necessitatibus maxime vel pariatur quam blanditiis reiciendis eveniet ad, nostrum cumque, neque aperiam itaque commodi. Aliquid temporibus eveniet possimus!
		</p>
	</div>
	<div class="grid grid-cols-1 lg:flex lg:grid-cols-3 mx-auto text-center gap-4 m-1 p-1">
		<div class="border border-black bg-gray-300 rounded-md shadow-md shadow-slate-900 p-2">
			<h1 class="text-center rounded-lg">Membership has its privileges!</h1>
			<p class="text-sm text-left p-4">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro odit provident odio molestiae suscipit accusantium tenetur delectus eligendi dolores quibusdam expedita corporis dolorum, earum eveniet deserunt minima! Sint, adipisci ipsa.
			</p>
			<div class="pb-2">
				<a class="bg-blue-500 border border-black shadow-lg shadow-black hover:text-green-400 rounded-xl text-white p-2" routerLink="csa">Join our CSA</a>
			</div>
		</div>
		<div class="border border-black bg-gray-300 rounded-md shadow-md shadow-slate-900 p-2">
			<h1 class="text-center rounded-lg">Farm Fresh Meats</h1>
			<p class="text-sm text-left p-4">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro odit provident odio molestiae suscipit accusantium tenetur delectus eligendi dolores quibusdam expedita corporis dolorum, earum eveniet deserunt minima! Sint, adipisci ipsa.
			</p>
			<div class="pb-2">
				<a class="bg-blue-500 border border-black shadow-lg shadow-black hover:text-green-400 rounded-xl text-white p-2" routerLink="livestock">See Our Selection</a>
			</div>
		</div>
		<div class="border border-black bg-gray-300 rounded-md shadow-md shadow-slate-900 p-2">
			<h1 class="text-center rounded-lg">Landscaping Supplies</h1>
			<p class="text-sm text-left p-4">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro odit provident odio molestiae suscipit accusantium tenetur delectus eligendi dolores quibusdam expedita corporis dolorum, earum eveniet deserunt minima! Sint, adipisci ipsa.
			</p>
			<div class="pb-2">
				<a class="bg-blue-500 border border-black shadow-lg shadow-black hover:text-green-400 rounded-xl text-white p-2" routerLink="landscaping">Learn More</a>
			</div>
		</div>
	</div>
</div>
