<div class="text-gray-100 p-2">
	<h1 class="text-center font-extrabold tracking-widest">
		Family Owned And Operated Since 1982
	</h1>
	<div>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, quo earum necessitatibus maxime vel pariatur quam blanditiis reiciendis eveniet ad, nostrum cumque, neque aperiam itaque commodi. Aliquid temporibus eveniet possimus!
		</p>
	</div>
	<div class="grid grid-cols-1 lg:flex lg:grid-cols-3 text-black mx-auto text-center gap-4 m-1 p-1">
		<div class="border border-black bg-gray-300 rounded-md shadow-md shadow-slate-900 p-2 w-full">
			<h1 class="text-center rounded-lg">CSA Membership</h1>
			<p class="text-sm text-left p-4">
				Community Supported Agriculture is a popular way for consumers to buy local, seasonal food directly from a farmer. Our CSA’s run for 6 months with in-person pickup on the first Saturday of each month.
			</p>
			<div class="pb-2">
				<a class="bg-blue-500 border border-black shadow-lg shadow-black hover:text-green-400 rounded-xl text-white p-2" routerLink="csa">Learn More</a>
			</div>
		</div>
		<div class="border border-black bg-gray-300 rounded-md shadow-md shadow-slate-900 p-2 w-full">
			<h1 class="text-center rounded-lg">Farm Fresh Meats</h1>
			<p class="text-sm text-left p-4">
				From steaks, roasts, sausage, chops, sausage, bacon, whole chickens, we got you covered! Our monthly meat CSAs are a perfect way to enjoy farm fresh varieties directly from our farm! 
			</p>
			<div class="pb-2">
				<a class="bg-blue-500 border border-black shadow-lg shadow-black hover:text-green-400 rounded-xl text-white p-2" routerLink="livestock">See Our Selection</a>
			</div>
		</div>
		<div class="border border-black bg-gray-300 rounded-md shadow-md shadow-slate-900 p-2 w-full">
			<h1 class="text-center rounded-lg">Landscaping Supplies</h1>
			<p class="text-sm text-left p-4">
				We offer compost, mulch, and hay tailor made right at our farm.  Our experienced farm team works to provide the highest quality materials for your specific project needs.
			</p>
			<div class="pb-2">
				<a class="bg-blue-500 border border-black shadow-lg shadow-black hover:text-green-400 rounded-xl text-white p-2" routerLink="landscaping">Product Info</a>
			</div>
		</div>
	</div>
</div>
