<div class="grid grid-cols-1 p-2 gap-2 bg-sky-700 text-white text-center">
	<div class="lg:grid lg:grid-cols-3 p-2 gap-2 bg-sky-700 text-white text-center">
		<div>
			<h1 class="font-bold text-lg tracking-widest">Farm Hours<sup class="font-extrabold">*</sup></h1>
			<h2 class="font-semibold text-sm tracking-tight">Mon-Fri 7:30am - 5pm</h2>
			<h2 class="font-semibold text-sm tracking-tight">Saturday 7:30am - 3pm</h2>
		</div>
		<div>
			<h1 class="font-bold text-lg tracking-widest">Farm Store Hours<sup class="font-extrabold">*</sup></h1>
			<h2 class="font-semibold text-sm tracking-tight">Thur-Fri 9am - 5pm</h2>
			<h2 class="font-semibold text-sm tracking-tight">Saturday 9am - 3pm</h2>
		</div>
		<div>
			<h1 class="font-bold text-lg tracking-widest">Follow us on social media!</h1>
			<div class="flex flex-row gap-5 lg:gap-7 justify-center p-2 mx-auto">
				<div>
					<img src="../../../assets/images/f_logo_RGB-Blue_58.png" width="32px" height="32px" alt="">
				</div>
				<div>
					<img src="../../../assets/images/Instagram_Glyph_Gradient_RGB.png" width="32px" height="32px" alt="">
				</div>
				<div>
					<img src="../../../assets/images/Twitter social icons - circle - blue.svg" width="32px" height="32px" alt="">
				</div>
				<div>
					<img class="rounded-full" src="../../../assets/images/digital_small_png-P-Badge-Pushpin-Red-450-PMS.png" width="32px" height="32px" alt="">
				</div>
				<div>
					<img src="../../../assets/images/youtube_social_squircle_red.png" width="32px" height="32px" alt="">
				</div>
				<div>
					<img src="../../../assets/images/Tumblr_Logos_2018.03.06_iOS Icon Black.png" width="32px" height="32px" alt="">
				</div>
			</div>	
		</div>
	</div>
	<div class="bg-sky-700 text-center text-sm">
		<sup class="font-extrabold">*</sup>The farm and farm store are CLOSED on Sundays from OCTOBER to APRIL
	</div>
</div>
